# The port number that the server will listen to.
# Change this to the desired port number that the server should listen to.
PORT=3002

# MongoDB connection URL for the application to use
MONGODB_URI=<add-mongodb-connection-url-here>

# The base URL for the Asgardeo organization's API
# E.g., https://api.asgardeo.io/t/your-org
ASGARDEO_BASE_URL=<add-asgardeo-org-base-url-her>

# The base URLs of clients that are allowed to access the API.
# Separate by commas if there's more than one.
# E.g., http://localhost:3000,http://localhost:3001
CLIENT_BASE_URL=<add-client-app-base-url-here>

# The client ID for the Asgardeo OIDC app
CLIENT_ID=<add-asgardeo-oidc-app-client-id-here>

# The client secret for the Asgardeo OIDC app
CLIENT_SECRET=<add-asgardeo-oidc-app-client-secret-here>

# The URL of the issuer endpoint for the Asgardeo OIDC app
ISSUER_URL=<add-asgardeo-oidc-app-issuer-endpoint-here>

# The URL of the JWKS endpoint for the Asgardeo OIDC app
JWKS_URL=<add-asgardeo-oidc-app-jwks-endpoint-here>

# The client ID of the client application
# Separate by commas if there's more than one.
CLIENT_APP_ID=<add-client-application-client-id>

# The method to use for the access token validation (optional)
# instrospection (default) / jwtvalidate
# ACCESS_TOKEN_VALIDATION_METHOD=<add-access-token-validation-method>